body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fullscreen-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  gap: 10px;
}
.start-button{
  background: black;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.timer {
  font-size: 20px;
  margin-bottom: 10px;
  clip-path: polygon(0 0, 100% 0, 90% 60%, 10% 60%);
  background-color: #d1d0d0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 45%;
  padding-top: 5px;
}

.question-container {
  text-align: center;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choice {
  margin: 5px 0;
  padding: 5px 15px;
  text-align: left;
}

.next-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn:hover {
  background: #0056b3;
}
